
$tan-spacer: $spacer-y;
$tan-textarea-height: 210px;

.can-wrapper {
  border-bottom: 4px double $double-line;
}

// TAN Form layout
.can_embed {

  a, .international_link {
    color: $gold;
    &:hover {
      color: lighten($gold, 20%);
    }
  }

  h2 { text-align: center; }
  h3 {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin-bottom: $spacer * 2;
  }
  h4 { display: none; }

  // Hide share block title
  #share-block-placed {
    .btn-share {
     color:white;
    }
  }

  #d_sharing {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  #can_thank_you {
    h1 { text-align: center; }
    & > .row { margin-bottom: $spacer; }
  }

  #action_info { margin-bottom: $spacer; }

  #logo_wrap { display: none; }

  @include media-breakpoint-up(md) {
    #new_signature:not(.can_returning) {
      @include make-row();
      #form_col1,
      #form_col2 {
        @include make-col-ready();
      }

      #form_col1 {
        @include make-col(4);
      }
      #form_col2 {
        @include make-col(8);
      }
    }
  }
}

// TAN Form style
.can_embed form {
  overflow: hidden;

  .ajax-loading { display: none; }

  textarea {
    min-height: $tan-textarea-height;
  }

  textarea,
  input[type="email"],
  input[type="text"] {
    margin-bottom: $tan-spacer;
    @extend .form-control;
    &.required {}
    &.error_input {
      border-color: $brand-danger;
    }
  }

  label {
    cursor: pointer;
  }

  .country_wrap {
    margin-bottom: $tan-spacer;
  }

  .international_link {
    cursor: pointer;
    text-decoration: $link-decoration;
  }

  .country_drop_wrap {
    display: none;
    span.block { position: relative; }
    .can_select,
    .can_selectInner {
      width: 100% !important;
    }
    span.can_select {
      @extend .custom-select;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
  }
}
