
$tan-spacer: $spacer-y;
$tan-textarea-height: 210px;

.can-wrapper {
  border-bottom: 4px double $double-line;
}

// TAN Form layout
.can_embed {
  h2.line {}
  h4 { display: none; }

  form#new_delivery {}
  form#letter-form {}

  #form_col1 {}
  #form_col2 {}

  #d_sharing {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  #can_thank_you {
    h1 { text-align: center; }
    & > .row { margin-bottom: $spacer; }
  }

  #action_info { margin-bottom: $spacer; }
  #action_info,
  #logo_wrap { text-align: center; }

  @include media-breakpoint-up(md) {
    #new_signature:not(.can_returning) {
      @include make-row();
      #form_col1,
      #form_col2 {
        @include make-col-ready();
      }

      #form_col1 {
        @include make-col(6);
      }
      #form_col2 {
        @include make-col(6);
      }
    }
  }
}

// TAN Form style
.can_embed form {
  overflow: hidden;

  .ajax-loading { display: none; }

  textarea {
    min-height: $tan-textarea-height;
  }

  textarea,
  input[type="email"],
  input[type="text"] {
    margin-bottom: $tan-spacer;
    @extend .form-control;
    &.required {}
    &.error_input {
      border-color: $brand-danger;
    }
  }

  label {
    cursor: pointer;
  }

  .country_wrap {
    margin-bottom: $tan-spacer;
  }

  .international_link {
    color: $link-color;
    cursor: pointer;
    text-decoration: $link-decoration;
    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  .country_drop_wrap {
    display: none;
    span.block { position: relative; }
    .can_select,
    .can_selectInner {
      width: 100% !important;
    }
    span.can_select {
      @extend .custom-select;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
  }
}
