@mixin headers {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    @content;
  }

}

.bg-grade-lightgray { background-image: linear-gradient(0deg, #EDF1F4 1%, #FFFFFF 100%); }
.gradiant-gray { background-image: linear-gradient(-269deg, #CBC9D4 1%, #A8A7AC 48%, #CBC9D4 96%); }
.gradiant-gray-y { background-image: linear-gradient(0deg, #CBC9D4 1%, #A8A7AC 96%); }
.gradiant-gold { background-image: linear-gradient(0deg, #EABF57 0%, #F3D98E 100%); }
.nav-bar { background-image: linear-gradient(-180deg, #A8A7AC 2%, #C2C0CB 100%); }

p {
  letter-spacing: $font-letter-spacing;
}

@include media-breakpoint-up(md) {
  .font-small-lg {
    font-size: 85%;
  }
}

h1, .h1 {
  color: $gray-dark;
  font-family: $font-playfair;
  font-weight: bold;
  margin-bottom: $spacer * 2;
  @include media-breakpoint-up(lg) {
    font-size: 4em;
  }
}

.underline {
  padding-bottom: 1rem;
  border-bottom: 4px $double-line double;
  display: inline-block;
}

@include media-breakpoint-up(md) {
.underline-md {
    padding-bottom: 1rem;
    border-bottom: 4px $double-line double;
    display: inline-block;
  }
}

.sideline {
  &:before {
    content: "";
    border-bottom: 4px $double-line double;
    position: absolute;
    top:50%;
    top: calc(50% - 4px);
    left:0;
    width: 100%;
  }
}

.ellipsis {
  &:after {
    content: "\2026"
  }
}

.name {
  color: $gray-dark;
  font-family: $font-montserrat;
  font-size: 1.5rem;
  letter-spacing: 0.15px;
  margin-top: $spacer;
  text-transform: uppercase;
}

.btn-primary {
  @extend .gradiant-gold;
  font-family: $font-montserrat;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #D4AD4E;
  letter-spacing: 0.87px;
  &:focus {
    color: $white;
  }
}

.left-block {
  padding-left: 1em;
  position: relative;
  &:before {
    @extend .bg-grade-lightgray;
    content: "";
    width: .5em;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
  }
}

.left-block-dark {
  @extend .left-block;
  &:before {
    @extend .gradiant-gray-y;
  }
}

.bg-grade-gray {
  @extend .gradiant-gray;
  color: $white;
  @include headers{
    color: $white;
  };
}

.btn-social {
  @extend .btn-primary;
  display: block;
  width: 100%;
  .svg {
    position: absolute;
    width: 40px;
    left: 1em;
    top: .5rem;
  }
  svg {
    height: 100%;
    width: 100%;
    color: $dark-gold;
    fill: $dark-gold;
  }
}
