// Home page

.business-card {
  margin-top: $grid-gutter-width-base / 2;
  margin-bottom: $grid-gutter-width-base / 2;
  @include media-breakpoint-up(lg) {
    padding-bottom: 2.5em;
    .btn {
      position: absolute;
      bottom: 0;
    }
  }
}
