@import "bootstrap-custom";
@import "action_network";
@import "global";
@import "page_home";
@import "page_individual";

.nav{
  text-align: center;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  margin: 0 auto;
  .nav-item{
    border-width: 0 1px;
    border-style: solid;
    border-color: #c7c6cc;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    float: inherit;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px rgba(#000,.25);
    &:first-child {
      border-left-width: 2px;
    }
    &:last-child {
      border-right-width: 2px;
    }
  }
}

footer.wrap {
  color: $white;
  padding-top: $sspacer;
  padding-bottom: $sspacer;
  @include media-breakpoint-up(md) {
    padding-top: $sspacer * 1.5;
    padding-bottom: $sspacer * 1.5;
  }
}

.btn-outline-secondary:hover {
  color: $blush;
}

.img-main.img-thumbnail,
.img-nav.img-thumbnail {
  padding: 4rem;
  // filter: grayscale(100%);
}
