@import "bootstrap-custom";
@import "action_network";
@import "global";
@import "page_home";
@import "page_individual";

$header-heights: (
  xs: 220px,
  sm: 300px,
  md: 340px,
  lg: 350px,
  xl: 480px
);

@each $breakpoint, $height in $header-heights {
  @if $breakpoint == "xs" {
    .header {
      height: $height;
      .header-title {
        background-size: auto ($height - 40px);
      }
    }
  } @else {
    @include media-breakpoint-up($breakpoint){
      .header {
        height: $height;
        .header-title {
          background-size: auto ($height * .8);
        }
      }
    }
  }
}

.header {
  background-color: #F9E659;
  background-image: url('../images/characters.png');
  background-position: center;
  background-repeat: repeat-x;
  background-size: auto 100%;
  text-align: center;
  font-size: 4em;

  .en {
    @include text-hide;
    background-image: url('../images/boh-logo-sm-en.png');
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    @include media-breakpoint-up(md) {
      background-image: url('../images/boh-logo-lg-en.png');
    }
  }

  .es {
    @include text-hide;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    background-image: url('../images/boh-logo-sm-es.png');
    background-size: 280px;
    @include media-breakpoint-up(md) {
      background-size: 700px;
      background-image: url('../images/boh-logo-lg-es.png');
    }
  }
}

.nav{
  text-align: center;
}

$nav-grade-1: #A9A7AC;
$nav-grade-2: #C3BFCA;

.navbar {
  background-image: linear-gradient(0deg, $nav-grade-1 0%, $nav-grade-2 100%);
  min-height: 2.5rem;
  .navbar-toggler {
    cursor: pointer;
    color: $white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -0.5px -0.5px 0.5px rgba(#000,.25);
    width: 100%;
    .navbar-toggler-icon { float:right; }
  }
}

.navbar-nav {
  margin: 0 auto;
  .nav-item{
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #B8BDC0;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    float: inherit;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -0.5px -0.5px 0.5px rgba(#000,.25);
    &:first-child {
      border-left-width: 1px;
    }
  }
}

footer.wrap {
  color: $white;
  padding-top: $sspacer;
  padding-bottom: $sspacer;
  @include media-breakpoint-up(md) {
    padding-top: $sspacer * 1.5;
    padding-bottom: $sspacer * 1.5;
  }
}

.btn-outline-secondary:hover {
  color: $blush;
}


.language-button {
  font-size: 22px;
  width: 60px;
  height: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #53535E;
  @include media-breakpoint-down(xs) {
    width: 60px;
    height: 20px;
    font-size: 16px;
  }
}

.language-button-wrapper {
  position: absolute;
  left: 10px;
  top: -55px;
}

.py-4 {
  padding-bottom: 0px !important;
}