<section class="wrap bg-grade-gray text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="hidden-md-up"><%= dato.static_content.text_next_to_email_trigger_button %></p>
        <p class="lead hidden-sm-down mr-md-4 d-inline"><%= dato.static_content.text_next_to_email_trigger_button %></p>
        <%= partial 'includes/cta_button' %>
      </div>
    </div>
  </div>
</section>
