<section class="row bg-grade-gray text-center">
  <div class="col-12">
    <p class="lead m-0">
      <span class="hidden-md-up d-block"><%= current_page.data.emailLead %></span>
      <span class=" hidden-md-down mr-md-4"><%= current_page.data.emailLead %></span>
      <a href="#email" class="btn btn-primary" data-toggle="collapse" aria-controls="collapseExample"><%= current_page.data.callToActionBtnText %></a>
    </p>
  </div>
</section>
