<footer class="wrap bg-blush text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="hidden-md-up"><%= current_page.data.footer_ask %></p>
        <p class="lead hidden-sm-down mr-md-4 d-inline"><%= current_page.data.footer_ask %></p>
        <a href="#donate" class="btn btn-outline-secondary"><%= current_page.data.donateBtn %></a>
      </div>
      <div class="col-12 mt-4 disclaimer">
        <small><%= current_page.data.disclaimer %></small>
      </div>
    </div>
  </div>
</footer>
