<footer class="wrap bg-blush text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="hidden-md-up"><%= dato.static_content.donation_header %></p>
        <p class="lead hidden-sm-down mr-md-4 d-inline"><%= dato.static_content.donation_header %></p>
        <a href="https://connect.clickandpledge.com/w/Form/bb4f72d1-4f35-4e06-9784-247b784c1eaf" class="btn btn-outline-secondary" target="_blank"><%= dato.static_content.donation_button_text %></a>
      </div>
      <div class="col-12 mt-4 disclaimer">
        <a href="/privacy_policy.txt" style="color: #5B595E">Privacy Policy</a>
      </div>

    </div>
  </div>
</footer>

<%= google_analytics_tag %>