<div class="disclaimer">
  Full corporate profile outlining why we say this company backs hate.
</div>

<footer>
  <div class="container">
    <div class="disclaimer">
      Full corporates profile outlining why we say this company backs hate available on company pages (click above).
    </div>
    <div class="col-12 text-center">
      <p>Like our site? Keep it going. <a href="#donate" class="btn btn-outline-primary">Make a Donation Today</a></p>
    </div>
  </div>
</footer>
