<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-text"><%= dato.static_content.corporation_list_navbar_title %></span> <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <% dato.organizations.each_with_index do |c,i| %>
        <%# add class to 'active' to current page %>
        <a class="nav-item nav-link" href=<%= c.url_title %>.html><%= c.name %></a>
      <% end %>
    </div>
  </div>
</nav>
